.title{
    position: absolute;
    width: 240px;
    height: 41px;
    top: 135px;
    
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;

}

.text{
    position: absolute;
    width: 520px;
    height: 98px;
    left: 820px;
    top: 429px;
    
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    
    color: #F2F2F2;
    
    
}

.txt{

    position: absolute;
    width: 484px;
    height: 52px;
    left: 820px;
    top: 534px;

    font-family: Heebo;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;

    color: #F2F2F2;


}

.rectangle{
    position: absolute;
    width: 638.78px;
    height: 334.27px;
    left: 122.71px;
    top: 291.34px;
    
}
