.title{
    position: absolute;
    width: 240px;
    height: 41px;
    top: 135px;
    
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;

}

.conf{
    position: absolute;
    width: 473px;
    height: 359px;
    left: 111px;
    top: 332px;

}

.text{
    position: absolute;
    width: 520px;
    height: 98px;
    left: 820px;
    top: 429px;

    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;

    color: #F2F2F2;

}

.txt{

    position: absolute;
    width: 484px;
    height: 52px;
    left: 820px;
    top: 534px;

    font-family: Heebo;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;

    color: #F2F2F2;


}