.msg{
    position: absolute;
    left: 42.08%;
    right: 42.08%;
    top: 30.84%;
    bottom: 65.74%;
    
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.333333px;
    
    color: #F2F2F2;

}

.message{
    position: absolute;
    left: 32.5%;
    right: 32.5%;
    top: 39.99%;
    
    font-family: Heebo;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.333333px;
    
    color: #FFFFFF;
}